# IDE files
.idea/
.vscode/
*.code-workspace

# Python build files
*.pyc
__pycache__/

# Testing files
DynamoDB/
.coverage
.env
.pytest_cache

# Docs generation files
_build/
/credentials/
.mypy_cache/
