[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
boto3 = "*"

[dev-packages]
pycodestyle = "*"
codecov = "*"
pytest-cov = "*"
pydocstyle = "*"
ipython = "*"
awscli = "*"

[requires]
python_version = "3.7"
