[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
Flask = "*"
gunicorn = "*"
pytest = "*"
slackclient = "*"
slackeventsapi = "*"
pygithub = "*"
toml = "*"
structlog = "*"
colorama = "*"
flask-talisman = "*"
flask-seasurf = "*"
pyjwt = "*"

[dev-packages]
awscli = "*"
codecov = "*"
m2r = "*"
ipython = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"

[scripts]
launch = "gunicorn -b 0.0.0.0:5000 -w 4 server.server:app"
