[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
boto3 = "*"
slackclient = "*"
Flask = "*"
gunicorn = "*"
slackeventsapi = "*"

[dev-packages]
pycodestyle = "*"
codecov = "*"
pytest-cov = "*"
pydocstyle = "*"
ipython = "*"
awscli = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
m2r = "*"

[requires]
python_version = "3.7"

[scripts]
launch = "gunicorn -b 0.0.0.0:5000 -w 4 server.server:app"
